// ~~~~~~~~~~~~~~~~~~~~~~~
//         基础色
// ~~~~~~~~~~~~~~~~~~~~~~~
$baseColor: #333;
$themeColor: #1890FF;

// ~~~~~~~~~~~~~~~~~~~~~~~
//         基础尺寸
// ~~~~~~~~~~~~~~~~~~~~~~~
$radius: 4px;
$baseHeight: 32px;
$basePadding: 16px;

// ~~~~~~~~~~~~~~~~~~~~~~~
//         小尺寸
// ~~~~~~~~~~~~~~~~~~~~~~~
$smallHeight: 24px;
$smallPadding: 8px;


// ~~~~~~~~~~~~~~~~~~~~~~~
//         大尺寸
// ~~~~~~~~~~~~~~~~~~~~~~~
$largeHeight: 40px;
$largePadding: 16px;